* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

nav, footer {
  background-color: #eb9634;
  padding: 2vh;
}

nav > .openMenu {
  display: flex;
  justify-content: space-around;
}

.div_footer img {
  height: 50px;
  width: 50px;
  margin: 10px;
}
 
footer {
  text-align: center;
}

nav > h2 {
  text-align: center;
}

img {
  height: 130px;
  width: 130px
}

section {
  text-align: center;
}

.button_article > button {
  border: none;
  height: 35px;
  width: 130px;
  cursor: pointer;
  border-radius: 10px;
}

.button_article > button:active {
  border: none;
  height: 35px;
  background-color: black;
  color: #ffff;
  width: 130px;
  cursor: pointer;
  border-radius: 10px;
}

.article {
  display: inline-grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
  border: 1px solid black;
}

.h3_title {
  width: 150px;
  font-size: 8px;
}

.panier {
  background-color: #424242;
  color: white;
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 4px;
  width: 13px;
  height: 13px;
}

.panier_section {
  display: flex;
}

.panier_section p {
  margin-left: 10px;
  background-color: #424242;
  color: #ffff;
  border-radius: 20px;
  padding: 4px;
  font-size: 12px;
}

.site_title {
  display: flex;
  justify-content: center;
}

.site_title img {
  margin-left: 7px;
}

